body {
  background-color: #fffff9;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif;
}
.main-nav {
  text-align: right;
  margin-bottom: 25px;
}

a {
  color: #00b74a;
  text-decoration: none;
  transition: all 0.25s ease;
}

a:hover {
  background-color: #00b74a;
  color: #fff;
}

.main-nav a {
  display: inline-block;
  padding: 20px 20px;
}
