body {
  background-color: #fffff9;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif;
}
.pages-navbar {
  color: #198754;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.pages-navbar:hover {
  color: #fffff9;
  background-color: #198754;
}
